body {
  margin:0;
  font-family:sans-serif;
  background:#111;
  color:white;
  text-align:center;
}

header {
  padding:40px;
}

.gallery img {
  width:250px;
  margin:10px;
  border-radius:10px;
}
